[submodule "luafilesystem"]
	path = luafilesystem
	url = git@github.com:lunarmodules/luafilesystem.git
[submodule "kpvcrlib/crengine"]
	path = thirdparty/kpvcrlib/crengine
	url = git@github.com:koreader/crengine.git
